@{
    ViewData["Title"] = "Home Page";
}

<style>
    /* Custom CSS to center the image */
    .center-image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
</style>

<div class="row">
    <h2>Welcome to Inventory</h2>
    <div class="col-md-12 center-image">
        <img src="https://www.supplychain247.com/images/wide/the_difference_between_erp_and_inventory_management_software_wide.jpg" alt="Image 1" class="img-fluid mx-auto d-block" />
    </div>

</div>
